annotated-types==0.8.0
choreographer==1.4.0
filelock==4.0.4
greenlet==3.5.6
iniconfig==2.3.0
kaleido==1.4.0
logistro==2.0.1
narwhals==2.26.0
orjson==3.12.0
packaging==26.3
pillow==12.3.0
platformdirs==4.12.0
playwright==1.63.0
plotly==7.1.0
pluggy==1.6.0
pydantic==2.13.4
pydantic_core==2.46.4
pyee==13.0.1
Pygments==2.20.0
pypdf==6.19.0
pytest==9.1.1
PyVISA==1.16.2
PyVISA-py==0.8.1
PyYAML==6.0.3
setuptools @ file:///usr/share/python-wheels/setuptools-78.1.1-py3-none-any.whl#sha256=a75fa14b8b1d2f2705a9b761e9113010b535aadfd8c5ac12f6f41615b40c87a2
simplejson==4.1.2
typing-inspection==0.4.4
typing_extensions==4.16.0
